

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/*#__next div {
    background: linear-gradient(rgb(0 0 0 / 20%), rgb(0 0 0 / 40%));
   
}*/
.container p {
    margin-bottom: 20px; /* Add margin-bottom to create space between paragraphs */
}

.container-connection {
    align-items: center;
    display: flex;
    margin-left: 0px;
    margin-top: 10px;
    height: 34px;
    margin-bottom: 8px;
}

.battery-meter {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 16px;
    width: 180px;
    margin: -31px 0px 1px 435px;
}

.temperature-info {
    margin-left:2px;
}

.container-battery {
    display: flex;
    margin-left: 20px;
    margin-top: -10px;
    height: auto;
}

.container-status {
    display: flex;
}

.battery-meter--value {
    color: #53A03f;
    font-size: 1em;
    font-weight: bold;
}

.battery-meter--low-battery {
    animation: pulse 0.9s ease-in-out infinite;
}

@keyframes pulse {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.battery-meter path {
    transition: fill 0.3s ease-out;
}

.low-battery-notice {
    white-space: nowrap;
    color: #ff533f;
    font-size: 1em;
    font-weight: bold;
}

.no_temp_uid {
  margin-left: -220px;
}

.no_temp {
  margin-left: -135px;
}

.no_uid {
  margin-left: -80px;
}

.lightning-bolt {
    animation: lightning-bold-reveal 0.3s forwards;
    transform-origin: center center;
}

.lightning-bolt-fast {
    animation: lightning-bold-reveal 5s forwards infinite;
    transform-origin: center center;
}

@keyframes lightning-bold-reveal {
    0% {
        transform: scale(0);
    }

    90% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(0.7);
    }
}
/*Tooltip*/
.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 100px;
    color: white;
    font-size: 12px;
    background-color: #192733;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
}

.hover-text:hover .tooltip-text {
    visibility: visible;
}

#top {
    top: -40px;
    left: 0%;
}

#bottom {
    top: 25px;
    left: -50%;
}

#left {
    top: -8px;
    right: 120%;
}

#right {
    top: -8px;
    left: 120%;
}

.hover-text {
    position: relative;
    display: inline-block;
    /*margin: 40px;*/
    font-family: Arial;
    text-align: center;
}
.connect-stellarium {
    margin-left: -105px;
    margin-top: 44px;
}
.connect-dwarf {
    justify-content: space-between;
    float: right !important;
    height: fit-content;
    margin-top: -40px;
}

.polar-align {
    margin-left: 20%;
    margin-top: -68px;
}

.polar-align-object {
    padding-right: 50px;
    margin-left: 27%;
    margin-top: -73px;
}

.connect-dwarf-status {
    margin-left: -105px;
    margin-top: 0px;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.sethostmode-dwarf {
    display: flex;
    justify-content: space-between;
    width: 30rem;
    float: right !important;
    height: fit-content;
    margin-right: 40%;
    margin-top: 0px;
}

.top-align {
    top: 0;
    margin-top: 0;
    margin-bottom: 2px;
}

.right-align {
    text-align: right;
    margin-right: 300px;
}

.float-right-align {
    display: flex;
    justify-content: space-between;
    float: right !important;
    margin-right: 25%;
    margin-top: -10px;
}

.con {
    margin-right: 1rem !important;
}

.text-connect {
    --bs-text-opacity: 1;
    margin-top: 5px;
    text-align: right;
}

.text-success-connect {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-success-rgb), var(--bs-text-opacity)) !important;
    margin-top: 5px;
    text-align: right;
}

.text-warning-connect {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-warning-rgb), var(--bs-text-opacity)) !important;
    margin-top: 5px;
    text-align: right;
}

.text-danger-connect {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
    margin-top: 5px;
}

/*style cameras.tsx*/
.camera-container {
  width: 100%;
  height: fit-content;
}

.camera-container img {
  width: 100%;
  height: auto; /* Ensures proportional resizing */
  display: block; /* Removes unwanted spaces between elements */
}


.altitude-description {
    display: flex;
    align-items: center;
}


.popover-body {
    padding: 1rem 1rem;
    color: #212529;
    font-size: 14px;
}

.btn-outline-primary {
    border: solid 2px #fff !important;
    color: #fff;
    padding: 14px 26px 10px 26px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-right: 10px;
    transition: all .5s linear
}

    .btn-outline-primary:hover {
        background: #fff !important;
        color: #d3a417
    }

.container-construction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
}

.minilink {
    font-size: 0.6em;
}

/*image-session*/
.container-image-session {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

.notification {
    background-color: #ffcccc;
    color: #ff0000;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

select {
    margin-right: 10px;
}

.dropdown-wrapper {
    width: auto; /* Set width to match dropdown */
}

.progress-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 29px;
    background-color: #00AE83;
    border-radius: 10px;
    overflow: hidden;
}

.progress-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 29px;
    background-color: #00ae83;
    border-radius: 10px;
    overflow: hidden;
    z-index: 9999;
}

.progress-bar {
    height: 100%;
    background-color: #4caf50 !important;
    transition: width 0.5s ease;
}

.progress-text {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    color: white;
    font-weight: bold;
}

/*image session list*/
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

    .styled-table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }

    .styled-table th,
    .styled-table td {
        padding: 5px 5px;
    }

    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: none;
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }

        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #fff;
        }


.text-success-connect {
    color: #198754 !important;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
/* Responsive adjustments for smaller screens */
@media (max-width: 1024px) {
    .text-success-connect {
        font-size: 18px; /* Slightly smaller font size for tablets and smaller devices */
        margin-top: 8px; /* Reduce top margin */
    }
}

@media (max-width: 480px) {
    .text-success-connect {
        font-size: 16px; /* Smaller font size for mobile devices */
        margin-top: 5px; /* Reduce top margin further for tighter layouts */
    }
}
.text-warning-connect {
    color: #C57721 !important;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.text-danger-connect {
    color: #A62508 !important;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
/*scrollbar*/
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 100%;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* color of the track */
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

h1, h2, h3 {
    color: #00AE83;
}

.mb-2 {
    margin-bottom: .5rem !important;
    font-size: 2rem;
}

img {
    transition: transform 0.25s ease;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

.thumblarge:hover {
    transform: scale(2);
    position: absolute;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

/*refresh*/
.btn-refresh {
    position: relative;
    /* overflow: hidden; */
    padding: 0px 0px 0px 0px;
    color: #fff !important;
    border: none !important;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: 600;
    /* text-transform: capitalize; */
    background: transparent;
}

    .btn-refresh:hover {
        transform: rotate(360deg) scale(1.2);
        transition: all 0.4s ease-in-out;
    }

/* need to calculate the top value for element in Photo Mode */
:root {
    --custom-heightmax: calc(100vh - 200px);
    --custom-height1500: calc(100vh - 175px);
    --custom-height1300: calc(100vh - 165px);
    --custom-heightmin: calc(100vh - 155px);
}

.box-element {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    min-height: 200px;
    height: 200px;
    width: auto;
    bottom: 0px;
    margin-top: -40px;
}

.speed-meter {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 19px;
    width: 180px;
}

.joystick-button-up {
    position: absolute;
    top: 0;
    left: 65px;
}

.joystick-button-down {
    position: absolute;
    bottom: 0;
    left: 65px;
}

.joystick-button-left {
    position: absolute;
    top: 40%;
    left: 4px;
}

.joystick-button-right {
    position: absolute;
    top: 40%;
    left: 128px;
}

@media (max-width: 1500px) {
    .box-element {
        margin-left: 5px;
        min-height: 160px;
        height: 165px;
        margin-top: -40px;
    }

    .speed-meter {
        margin-left: 25px;
        margin-right: 15px;
        width: 120px;
    }

    .joystick-button-up {
        position: absolute;
        top: 0;
        left: 45px;
    }

    .joystick-button-down {
        position: absolute;
        bottom: -5px;
        left: 45px;
    }

    .joystick-button-right {
        position: absolute;
        top: 40%;
        left: 90px;
    }
}

@media (max-width: 1300px) {
    .box-element {
        margin-left: 5px;
        min-height: 150px;
        height: 150px;
        margin-top: -40px;
    }

    .speed-meter {
        margin-left: 25px;
        margin-right: 9px;
        width: 120px;
    }

    .joystick-button-up {
        position: absolute;
        top: 0;
        left: 45px;
    }

    .joystick-button-down {
        position: absolute;
        bottom: 0;
        left: 45px;
    }

    .joystick-button-right {
        position: absolute;
        top: 40%;
        left: 88px;
    }
}

@media (max-width: 1200px) {
    .box-element {
        margin-left: 5px;
        min-height: 140px;
        height: 120px;
        margin-top: -40px;
    }

    .speed-meter {
        margin-left: 25px;
        margin-right: 9px;
        width: 110px;
    }

    .joystick-button-up {
        position: absolute;
        top: 0;
        left: 42px;
    }

    .joystick-button-down {
        position: absolute;
        bottom: -5px;
        left: 42px;
    }

    .joystick-button-right {
        position: absolute;
        top: 40%;
        left: 80px;
    }
}

.containerCamera {
    width: fit-content;
    display: flex;
    margin-top: 30px;
}

.pane {
    width: fit-content; /* 7 columns, each taking up 100% of the container width */
    height: fit-content;
    display: flex;
    transition: transform 0.5s ease;
}

.column {
    flex: 1;
    background-color: #191D1E;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 180px;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 0px 0 10px 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    align-items: center; /* Vertical centering */
}

.button-container {
    display: flex;
    gap: 10px; /* Space between buttons */
    margin-top: 20px;
}

.button {
    padding: 0px 15px;
    background-color: #0a051d;
    color: #d3a417;
    border: solid 2px rgba(255, 255, 255, .2588235294) !important;
    border-radius: 5px;
    border-color: #d3a417 !important;
    cursor: pointer;
}

    .button:hover {
        border-color: #d3a417 !important;
        color: #fff !important
    }

        .button:hover::before {
            width: 100%
        }

    .button.active {
        background-color: #00AE83;
        color: #fff;
        border-color: #fff !important;
    }

    .button:hover.active {
        border-color: #d3a417 !important;
        color: #fff !important
    }

.button-cent {
    padding: 0px 15px;
    background-color: #0a051d;
    color: #d3a417;
    border: solid 2px rgba(255, 255, 255, .2588235294) !important;
    border-radius: 5px;
    border-color: #d3a417 !important;
    cursor: pointer;
    margin-left: 28%;
}

    .button-cent:hover {
        border-color: #d3a417 !important;
        color: #fff !important
    }

        .button-cent:hover::before {
            width: 100%
        }

    .button-cent.active {
        background-color: #00AE83;
        color: #fff;
        border-color: #fff !important;
    }

    .button-cent:hover.active {
        border-color: #d3a417 !important;
        color: #fff !important
    }

.button:last-child {
    margin-right: 0; /* Remove margin from last button */
}

.cameraAddon-image {
    width: 80px; /* Set the width */
    height: auto; /* Maintain aspect ratio */

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow */
    margin-top: -6px;
}
/* Adjust width for different screen sizes */
@media (max-width: 1500px) {
    .title {
        font-size: 16px;
    }

    .cameraAddon-image {
        width: 60px;
    }

    .column {
        font-size: 12px;
        width: 150px;
    }
}

@media (max-width: 1300px) {
    .button {
        padding: 0px 12px;
    }

    .button-cent {
        padding: 0px 12px;
    }

    .title {
        font-size: 14px;
    }

    .cameraAddon-image {
        width: 50px;
    }

    .column {
        font-size: 10px;
        width: 130px;
    }
}

@media (max-width: 1060px) {
    .button {
        padding: 0px 8px;
    }

    .button-cent {
        padding: 0px 8px;
    }

    .title {
        font-size: 12px;
    }

    .cameraAddon-image {
        width: 50px;
    }

    .column {
        font-size: 8px;
        width: 100px;
    }
}

@media (max-width: 890px) {
    .button {
        padding: 0px 4px;
    }

    .button-cent {
        padding: 0px 4px;
    }

    .title {
        font-size: 8px;
    }

    .cameraAddon-image {
        width: 50px;
    }

    .button-container {
        gap: 5px; /* Space between buttons */
    }

    .column {
        font-size: 7px;
        width: 80px;
    }
}

@media (max-width: 760px) {
    .button {
        padding: 0px 0px;
    }

    .button-cent {
        padding: 0px 0px;
    }

    .title {
        font-size: 5px;
    }

    .cameraAddon-image {
        width: 50px;
    }

    .button-container {
        gap: 2px; /* Space between buttons */
    }

    .column {
        font-size: 8px;
        width: 60px;
    }
}

.forecast-container {
    display: flex;
    flex-direction: column;
}

.forecast-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.forecast-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

    .forecast-item img {
        width: 20px;
        height: 20px;
    }

.forecast-container-main {
    margin-top: 150px;
}

.thumblarge {
    height: 135px;
}

.centered-cell {
    text-align: center;
}

.sorting {
    visibility: visible;
}

.py-2 {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    margin-top: -25px;
}

/* Add media queries for different screen sizes */
@media screen and (max-width: 768px) {
    .header {
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: stretch; /* Stretch items to fill the width of the container */
    }
}

.connect-dwarf {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

    .connect-dwarf button {
        margin-left: 10px; /* Adjust spacing between status and button */
    }

@media (max-width: 768px) {
    .connect-dwarf {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: flex-end;
    }

        .connect-dwarf button {
            margin-left: 0; /* Remove left margin for the button on smaller screens */
            margin-top: 10px; /* Add spacing between status and button on smaller screens */
        }
}

.sethostmode-dwarf {
    display: flex;
    justify-content: flex-end; /* Align button to the right */
}

@media (max-width: 768px) {
    .sethostmode-dwarf {
        justify-content: center; /* Center button on smaller screens */
        align-items: flex-end;
        margin-right: 7%;
    }

        .sethostmode-dwarf button {
            margin-top: 0px; /* Add some spacing between button and other elements */
        }
}

@media (max-width: 768px) {
    /* Adjusting column widths for small screens */
    .col-sm-1,
    .col-sm-3,
    .col-sm-4 {
        flex: 0 0 auto;
        max-width: none;
    }

    /* Adjusting margin for buttons on small screens */
    button {
        margin-top: 0.5rem;
        margin-right: 0.5rem;
    }
}

@media (max-width: 1024px) {
    .sethostmode-dwarf {
        margin-top: -48px;
        display: flex;
        justify-content: flex-end;
        margin-right: 40%;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #00B280;
    text-align: center;
    color: gainsboro;
}

.version-text {
    margin-right: 0px;
}

/* Style for the custom checkbox container */
.checkbox-container {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

/* Style for the custom checkbox */
.custom-checkbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #999;
    border-radius: 3px;
}

    /* Style for the checkmark icon */
    .custom-checkbox::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: transparent;
        border: 2px solid #fff;
        opacity: 0; /* Initially invisible */
        transition: opacity 0.3s ease-in-out;
    }

    /* Style for the checkmark icon when checkbox is checked */
    .custom-checkbox input:checked ~ .custom-checkbox::after {
        opacity: 1; /* Make the checkmark icon visible */
    }
.camera-witmotion {
    width: 650px;
}
.sky_object {
    margin-left: 37%;
    margin-top: -55px;
}
.search_object {
    margin-left: 0%; 
}

/* Tooltip container */
.tooltip-container {
    position: relative;
    display: inherit;
}

/* Tooltip text */
.tooltip-text-SK {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    width: 300px; /* Adjust as needed */
    top: calc(100% + 10px); /* Position below the input */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}

    /* Show the tooltip text when .show class is added */
    .tooltip-text-SK.show {
        visibility: visible;
        opacity: 1;
        transition-delay: 0s;
    }

/*Themesettings*/
.modal-wrapper-theme {
    position: fixed;
    top: 0;
    /*right: -100%;*/ 
    bottom: 0;
    left: 0;
    transition: right 0.3s ease; 
    z-index: 9999;
}

    .modal-wrapper-theme.show {
        right: 0; 
        width: fit-content;
        height: fit-content;
    
    }
.cogwheel-button {
    position: fixed;
    top: 10%;
    right: 7px;
    color: white;
    scale: 1.5;
    background-color: #00B280;
    border: none;
    border-radius: 50%;
    width: 30px;
    padding: 0px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
}

.modal-overlay-theme {
    position: fixed;
    top: 20%;
    left: 75%;
    width: 25%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5);*/
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-content-theme {
    position: fixed;
    height: 100vh;
    max-height: 650px;
    top: 12%;
    right: 0%;
    transform: translate(-50%, -50%);
    border: 1px solid #00AE83;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    width: 57%;
    max-width: 300px;
    pointer-events: auto;
    background-color: #191d1e;
    background-clip: padding-box;
    animation: slideInRight 0.5s forwards;
}

/* Keyframes for slide in from the right */
@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

/* Keyframes for slide out to the right */
@keyframes slideOutRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}



.theme-header {
    text-align: center;
    text-decoration: underline;
    /*color: #333;*/
    font-size: 20px !important;
    margin-top: 10px;
}


/*new design bg*/
.container-bg {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); */
    margin-left: 22px;
    height: 150px;
    /*margin-right: 40px;*/
}

.row-bg {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.box {
    width: 80px; /* Adjust the width as needed */
    height: 80px; /* Adjust the height as needed */
    cursor: pointer;
    /*border: 1px solid transparent;*/ /* Set border initially transparent */
    transition: border-color 0.3s ease; /* Smooth transition for border color change */
}

    .box img {
        width: 80%;
        height: 80%;
        object-fit: cover;
        border: 1px solid #009879;
        opacity: 0.7;
    }

    .box:hover {
        border-color: #ff0000; /* Change border color on hover */
    }

    .box.active {
        border-color: #00AE83; /* Change border color of active box */
    }

    .box:active {
        border-color: #ff0000; /* Change border color of clicked box */
    }

.language-options {
    margin-bottom: 20px;
    margin: 0 auto; /* Center horizontally */
}

.witmotion-sensor {
    margin: 30px 10px 10px 25%; 
}

.language-select {
    width: 200px;
    height: 40px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #00B280;
    margin-top: 10px;
}

    .language-select:hover,
    .language-select:focus {
        border-color: #666;
        color: #fff;
    }

.daily-horp {
    padding: 0px 0 0 0;
    /*background: url(/images/bg-bannerpic.jpg) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top left;
}

.apply-button {
    background-color: #00B280;
    color: #fff; /* White text color */
    padding: 5px 5px; /* Padding around the button text */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
    width: fit-content;
    margin: 0 auto; /* Center horizontally */
}

    .apply-button:hover {
        background-color: #0b604b;
    }

.bg-standard {
    background-image: url('/images/bg-bannerpic.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.bg-stars {
    background-image: url('/images/stars.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.bg-stars2 {
    background-image: url('/images/stars2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.theme-options label {
    display: block;
    margin-bottom: 10px;
}

.theme-settings-button {
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.theme-settings-close {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.theme-options {
    display: flex;
    gap: 10px; /* Adjust the spacing as needed */
    justify-content: center;
    margin-left: 50%;
    margin-right: 50%;
}

.theme-button {
    padding: 8px 16px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

    .theme-button.active {
        background-color: #007bff; /* Change to your active color */
        color: #fff; /* Change to your active text color */
    }

.theme-con {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    margin-top: 10px;
}

.btn-theme {
    position: relative;
    height: fit-content !important;
    /* overflow: hidden; */
    padding: 0px 5px 0px 10px;
    color: #0a051d !important;
    border: solid 2px rgba(255, 255, 255, .2588235294) !important;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
    background: #00AE83;
}
.construct {
    display: inline-block; /* Ensures it stays on the same line */
    margin-left: 8px; /* Add some space between the texts */
    font-style: italic; /* Optional: style to differentiate the text */
    color: #ff9900; /* Optional: highlight the "Onder Construction" text */
}
.font-size-options {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.font-size-button {
    background: none;
    border: none;
    font-size: 24px;
    
    cursor: pointer;
    color: #00B280;
}
    .font-size-button:hover {
        background-color: transparent;
        color: #ffffff;
    }
.font-size-reset-button {
    background: none;
    border: none;
    font-size: 24px;
   
    cursor: pointer;
    color: #00B280; /* Change to your preferred color */
}

    .font-size-reset-button:hover {
        background-color: transparent;
        color: #ffffff;
    }

/* Define CSS styles for light and dark themes */
.light-theme {
    background-color: #333333;
    color: #fff;
    font-size: 18px;
}

    .light-theme .footer {
        background-color: #00B280;
    }

    .light-theme h1 {
        color: #cccccc;
    }

    .light-theme h2 {
        color: #cccccc;
    }

    .light-theme h3 {
        color: #cccccc;
    }

    .light-theme .modal-content-theme h2 {
        font-size: 2.5rem;
        margin-bottom: -10px;
        color: #ccc;
    }

    .light-theme thead {
        background-color: #00AE83;
    }

.dark-theme {
    background-color: #333333;
    color: dimgrey;
    /*font-size: 18px;*/
}

.dark-theme .footer {
    background-color: #333333; /* Change to your preferred dark theme color */
    color: #fff;
}

.dark-theme h1, h2, h3 {
    color: #1D20A1;
}

.dark-theme.modal-content-theme h2 {
    font-size: 2.5rem;
    margin-bottom: 0px;
    color: #1D20A1;
}

.dark-theme thead {
    background-color: #1D20A1;
    color: #1D20A1;
}

.dark-theme td {
    border: 1px solid #1D20A1;
}

.dark-theme th {
    background-color: #1D20A1;
}

.dark-theme .prosP {
    color: #1D20A1;
    font-weight: 600;
}

.dark-theme .calendar {
    border: #1D20A1;
}

.light-logo {
    display: block;
}

.dark-logo {
    display: none;
}

.dark-theme .light-logo {
    display: none;
}

.dark-theme .dark-logo {
    display: contents;
}


.connect-dwarf-1 {
    display: flex;
    float: right !important;
    margin-right: 15px !important;
    margin-top: -40px;
}

.camera-con {
    position: relative;
  }
  
.overlay-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;  /* outer diameter of the circle */
    height: 40px;
    border: 2px solid red;  /* red border with a specified thickness */
    border-radius: 50%;  /* makes it a circle */
    transform: translate(-50%, -50%);  /* centers the circle */
    pointer-events: none;  /* allows interaction with elements underneath */
    background: transparent;  /* ensures the center is transparent */
 }
.github-corner {
    position: fixed;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
}
.shooting-info {
    display: flex;
    flex-direction: column; /* Zet de elementen onder elkaar */
    gap: 5px; /* Ruimte tussen de regels */
    font-size: 14px;
}

.no-info {
    font-style: italic;
    color: gray;
}
.button-container {
    display: flex;
    flex-direction: column; /* Zet de knoppen onder elkaar */
    gap: 10px; /* Ruimte tussen de knoppen */
    align-items: center; /* Optioneel, centreren in de container */
}