* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}


body {
    background: url('/wallpaper.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
}

/*#__next div {
    background: linear-gradient(rgb(0 0 0 / 20%), rgb(0 0 0 / 40%));
   
}*/

.container-connection {
    align-items: center;
    display: flex;
    margin-left: 0px;
    margin-top: 10px;
    height: 34px;
    margin-bottom: 8px;
}

.battery-meter {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-left: 16px;
  width: 180px;
  margin: -31px 0px 1px 233px; 
}
.container-battery {
    display: flex;
    margin-left: 0px;
    margin-top: -10px;
    height: auto;
}
.container-status {
    display: flex;
    
}
.battery-meter--value {
  color: #53A03f;
  font-size: 1em;
  font-weight: bold;
}

.battery-meter--low-battery {
  animation: pulse 0.9s ease-in-out infinite;
}

@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.battery-meter path {
  transition: fill 0.3s ease-out;
}
.low-battery-notice {
  white-space: nowrap;
  color: #ff533f;
  font-size: 1em;
  font-weight: bold;
}

.lightning-bolt {
  animation: lightning-bold-reveal 0.3s forwards;
  transform-origin: center center;
}

.lightning-bolt-fast {
  animation: lightning-bold-reveal 5s forwards infinite;
  transform-origin: center center;
}

@keyframes lightning-bold-reveal {
  0% {
    transform: scale(0);
  }

  90% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(0.7);
  }
}
/*Tooltip*/
.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 100px;
    color: white;
    font-size: 12px;
    background-color: #192733;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
}

.hover-text:hover .tooltip-text {
    visibility: visible;
}

#top {
    top: -40px;
    left: 0%;
}

#bottom {
    top: 25px;
    left: -50%;
}

#left {
    top: -8px;
    right: 120%;
}

#right {
    top: -8px;
    left: 120%;
}

.hover-text {
    position: relative;
    display: inline-block;
    /*margin: 40px;*/
    font-family: Arial;
    text-align: center;
}
.connect-dwarf {
    
    justify-content: space-between;
    float: right !important;
    height: fit-content;
    margin-top: -40px;
}
.sethostmode-dwarf {
    display: flex;
    justify-content: space-between;
    width: 30rem;
    float: right !important;
    height: fit-content;
    margin-right: 50%;
    margin-top: -40px;
}
.top-align { top:0; margin-top: 0; margin-bottom: 2px; }
.right-align { margin-left: auto; margin-right: 10px;}

.float-right-align {
    display: flex;
    justify-content: space-between;
    float: right !important;
    margin-right: 25%;
    margin-top: -10px;
}

.con {
    margin-right: 1rem !important;
}
.text-connect {
    --bs-text-opacity: 1;
    margin-top: 5px;
    text-align: right;
}
.text-success-connect {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-success-rgb), var(--bs-text-opacity)) !important;
    margin-top: 5px;
    text-align: right;
}
.text-warning-connect {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-warning-rgb), var(--bs-text-opacity)) !important;
    margin-top: 5px;
    text-align: right;
}
.text-danger-connect {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
    margin-top: 5px;
}

/*style cameras.tsx*/
.camera-container {
    height: fit-content;
}
.popover-body {
    padding: 1rem 1rem;
    color: #212529;
    font-size: 14px;
}
.btn-outline-primary {
    border: solid 2px #fff !important;
    color: #fff;
    padding: 14px 26px 10px 26px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-right: 10px;
    transition: all .5s linear
}

.btn-outline-primary:hover {
    background: #fff !important;
    color: #d3a417
}
.daily-horp-camera {
    padding: 0px 0 0 0;
    background: url(/images/bg-bannerpic.jpg) no-repeat;
    background-size: cover;
    background-position: top left;
    height: 900px;
}
.daily-horp-object {
    padding: 0px 0 0 0;
    background: url(/images/bg-bannerpic.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.daily-horp-userlist {
    padding: 0px 0 0 0;
    background: url(/images/bg-bannerpic.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container-construction {
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
}

.minilink {
    font-size: 0.6em;
}

/*image-session*/
.container-image-session {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
    margin-top:10px;
}

.notification {
    background-color: #ffcccc;
    color: #ff0000;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

select {
    margin-right: 10px;
}

.dropdown-wrapper {
    width: auto; /* Set width to match dropdown */
}

.progress-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 29px;
    background-color: #00AE83;
    border-radius: 10px;
    overflow: hidden;
  }
  
.progress-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 29px;
    background-color: #00ae83;
    border-radius: 10px;
    overflow: hidden;
    z-index: 9999;
  }
  
.progress-bar {
    height: 100%;
    background-color: #4caf50 !important;
    transition: width 0.5s ease;
  }
  
.progress-text {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    color: white;
    font-weight: bold;
  }

/*image session list*/
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
    .styled-table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }
    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }
    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: none;
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }
        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #fff;
        }


.text-success-connect {
    color: #198754 !important;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.text-warning-connect {
    color: #C57721 !important;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.text-danger-connect {
    color: #A62508 !important;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
/*scrollbar*/
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* color of the track */
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

h1, h2, h3 {
    color: #00AE83;
}
.mb-2 {
    margin-bottom: .5rem !important;
    font-size: 2rem;
}
img {
    
    
    transition: transform 0.25s ease;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

.thumblarge:hover {
    transform: scale(2);
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

/*refresh*/
.btn-refresh {
    position: relative;
    /* overflow: hidden; */
    padding: 0px 0px 0px 0px;
    color: #fff !important;
    border: none !important;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: 600;
    /* text-transform: capitalize; */
    background: transparent;
    
}
 
.btn-refresh:hover {
    transform: rotate(360deg) scale(1.2);
    transition: all 0.4s ease-in-out;
}

/* need to calculate the top value for element in Photo Mode */
:root {
  --custom-heightmax: calc(100vh - 200px);
  --custom-height1500: calc(100vh - 175px);
  --custom-height1300: calc(100vh - 165px);
  --custom-heightmin: calc(100vh - 155px);
}
.box-element {
    align-items: center;	
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    min-height: 200px;
    height: 200px;
    width: auto;
    bottom: 0px;
    margin-top: -40px;
}
.speed-meter {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-right: 19px;
  width: 180px;
}
.joystick-button-up {
  position: absolute;
  top: 0;
  left: 65px;
}
.joystick-button-down {
  position: absolute;
  bottom: 0;
  left: 65px;
}
.joystick-button-left {
  position: absolute;
  top: 40%;
  left: 4px;
}
.joystick-button-right {
  position: absolute;
  top: 40%;
  left: 128px;
}
@media (max-width: 1500px) {
  .box-element {
    margin-left: 5px;
    min-height: 160px;
    height: 165px;
    margin-top: -40px;
  }
  .speed-meter {
    margin-left: 25px;
    margin-right: 15px;
    width: 120px;
  }
  .joystick-button-up {
    position: absolute;
    top: 0;
    left: 45px;
  }
  .joystick-button-down {
    position: absolute;
    bottom: -5px;
    left: 45px;
  }
  .joystick-button-right {
    position: absolute;
    top: 40%;
    left: 90px;
  }
}
@media (max-width: 1300px) {
  .box-element {
    margin-left: 5px;
    min-height: 150px;
    height: 150px;
    margin-top: -40px;
  }
  .speed-meter {
    margin-left: 25px;
    margin-right: 9px;
    width: 120px;
  }
  .joystick-button-up {
    position: absolute;
    top: 0;
    left: 45px;
  }
  .joystick-button-down {
    position: absolute;
    bottom: 0;
    left: 45px;
  }
  .joystick-button-right {
    position: absolute;
    top: 40%;
    left: 88px;
  }
}
@media (max-width: 1200px) {
  .box-element {
    margin-left: 5px;
    min-height: 140px;
    height: 120px;
    margin-top: -40px;
  }
  .speed-meter {
    margin-left: 25px;
    margin-right: 9px;
    width: 110px;
  }
  .joystick-button-up {
    position: absolute;
    top: 0;
    left: 42px;
  }
  .joystick-button-down {
    position: absolute;
    bottom: -5px;
    left: 42px;
  }
  .joystick-button-right {
    position: absolute;
    top: 40%;
    left: 80px;
  }
}

.containerCamera {
    width: fit-content;
    display: flex;
    margin-top:30px;
   
}

.pane {
    width: fit-content; /* 7 columns, each taking up 100% of the container width */
    height: fit-content;
    display: flex;
    transition: transform 0.5s ease;

}

.column {
    flex: 1;
    background-color: #191D1E;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 180px;
   
}
.separator {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 0px 0 10px 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    align-items: center; /* Vertical centering */
}

.button-container {
    display: flex;
    gap: 10px; /* Space between buttons */
     margin-top:20px;
}

.button {
    padding: 0px 15px;
    background-color: #0a051d;
    color: #d3a417;
    border: solid 2px rgba(255, 255, 255, .2588235294) !important;
    border-radius: 5px;
    border-color: #d3a417 !important;
    cursor: pointer;
}
.button:hover {
    border-color: #d3a417 !important;
    color: #fff !important
}
.button:hover::before {
    width: 100%
}
.button.active {
  background-color: #00AE83;
  color: #fff ;
  border-color: #fff !important;
}
.button:hover.active {
    border-color: #d3a417 !important;
    color: #fff !important
}
.button-cent {
    padding: 0px 15px;
    background-color: #0a051d;
    color: #d3a417;
    border: solid 2px rgba(255, 255, 255, .2588235294) !important;
    border-radius: 5px;
    border-color: #d3a417 !important;
    cursor: pointer;
    margin-left: 28%;
}
.button-cent:hover {
    border-color: #d3a417 !important;
    color: #fff !important
}
.button-cent:hover::before {
    width: 100%
}
.button-cent.active {
  background-color: #00AE83;
  color: #fff ;
  border-color: #fff !important;
}
.button-cent:hover.active {
    border-color: #d3a417 !important;
    color: #fff !important
}
    .button:last-child {
        margin-right: 0; /* Remove margin from last button */
    }
.cameraAddon-image {
    width: 80px; /* Set the width */
    height: auto; /* Maintain aspect ratio */
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow */
    margin-top: -6px;
}
/* Adjust width for different screen sizes */
@media (max-width: 1500px) {
    .title {
        font-size: 16px;
    }
    .cameraAddon-image {
        width: 60px;
    }
    .column {
        font-size: 12px;
        width: 150px;
    }
}
@media (max-width: 1300px) {
    .button {
        padding: 0px 12px;
    }
    .button-cent {
        padding: 0px 12px;
    }
    .title {
        font-size: 14px;
    }
    .cameraAddon-image {
        width: 50px;
    }
    .column {
        font-size: 10px;
        width: 130px;
    }
}
@media (max-width: 1060px) {
    .button {
        padding: 0px 8px;
    }
    .button-cent {
        padding: 0px 8px;
    }
    .title {
        font-size: 12px;
    }
    .cameraAddon-image {
        width: 50px;
    }
    .column {
        font-size: 8px;
        width: 100px;
    }
}
@media (max-width: 890px) {
    .button {
        padding: 0px 4px;
    }
    .button-cent {
        padding: 0px 4px;
    }
    .title {
        font-size: 8px;
    }
    .cameraAddon-image {
        width: 50px;
    }
    .button-container {
        gap: 5px; /* Space between buttons */
    }
    .column {
        font-size: 7px;
        width: 80px;
    }
}
@media (max-width: 760px) {
    .button {
        padding: 0px 0px;
    }
    .button-cent {
        padding: 0px 0px;
    }
    .title {
        font-size: 5px;
    }
    .cameraAddon-image {
        width: 50px;
    }
    .button-container {
        gap: 2px; /* Space between buttons */
    }
    .column {
        font-size: 8px;
        width: 60px;
    }
}

.forecast-container {
    display: flex;
    flex-direction: column;
  }
  
  .forecast-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }
  
  .forecast-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
  }
  
  .forecast-item img {
    width: 20px;
    height: 20px;
  }

  .forecast-container-main {
    margin-top: 150px;
  }

.thumblarge{
    height: 125px;
}
.centered-cell {
    text-align: center;
}
.sorting {
    visibility: visible;
}

.witsensor{
    margin-top: 150px;
}

.witimage {
    text-align: right;
    margin-top: 20px;
  }
  
.witimage img {
    width: 150px;
  }
.py-2 {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    margin-top: -25px;
}

/* Add media queries for different screen sizes */
@media screen and (max-width: 768px) {
    .header {
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: stretch; /* Stretch items to fill the width of the container */
    }
}
.connect-dwarf {
    display: flex;
    align-items: center;
}

    .connect-dwarf button {
        margin-left: 10px; /* Adjust spacing between status and button */
    }

@media (max-width: 768px) {
    .connect-dwarf {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: flex-end;
    }

        .connect-dwarf button {
            margin-left: 0; /* Remove left margin for the button on smaller screens */
            margin-top: 10px; /* Add spacing between status and button on smaller screens */
        }
}
.sethostmode-dwarf {
    display: flex;
    justify-content: flex-end; /* Align button to the right */
}

@media (max-width: 768px) {
    .sethostmode-dwarf {
        justify-content: center; /* Center button on smaller screens */
        align-items: flex-end;
        margin-right: 7%;
    }

        .sethostmode-dwarf button {
            margin-top: 0px; /* Add some spacing between button and other elements */
        }
}
@media (max-width: 768px) {
    /* Adjusting column widths for small screens */
    .col-sm-1,
    .col-sm-3,
    .col-sm-4 {
        flex: 0 0 auto;
        max-width: none;
    }

    /* Adjusting margin for buttons on small screens */
    button {
        margin-top: 0.5rem;
        margin-right: 0.5rem;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #00B280;
    text-align: center;
    color: white;
}