.telephoto {
  width: 100%;
  height: auto; /* Ensures proportional resizing */
  overflow: hidden;
  z-index : 200;
}

.telephoto iframe {
  width: 100%;
  height: auto; /* Ensures proportional resizing */
  display: block;
  z-index : 250;
}

.telephoto img {
  display: block; /* Removes unwanted spaces between elements */
  z-index : 250;
}

.wideangle {
  width: 35%;
  height: 35%;
  position: absolute;
  top: 0;
  border: 1px solid white;
  z-index : 300;
}

.wideangle iframe {
  width: 100%;
  height: auto;
  overflow: hidden;
  border: none;
  display: block; /* Removes unwanted spaces between elements */
}

.section {
  position: relative;
}
